<div class="{{b 'widget' 'flex-line'}}">
    <div class="{{b 'widget' 'column'}}">
        <h2 class="{{b 'widget' 'title'}}">
            {{#if isAggregated}}
                {{t 'widget.summary.aggregatedName'}}
                <span class="{{b 'widget' 'subtitle'}}">{{launchesCount}} {{t 'widget.summary.launches' count=launchesCount}}</span>
            {{else}}
                {{reportName}} {{date time.stop}}
            {{/if}}
            <div class="{{b 'widget' 'subtitle'}}">
                {{time time.start}} - {{time time.stop}} ({{duration time.duration 2}})
            </div>
        </h2>
        <div class="{{b 'summary-widget' 'stats'}} splash">
            <div class="{{b 'splash' 'title'}}">{{statistic.total}}</div>
            <div class="{{b 'splash' 'subtitle'}}">{{t 'widget.summary.testResults' count=statistic.total}}</div>
        </div>
    </div>
    <div class="{{b 'widget' 'column'}} {{b 'summary-widget' 'chart'}}"></div>
</div>
