<ul class="{{b 'sorter' 'menu'}}">
{{#each sorter}}
    <li class="{{b 'sorter' 'item'}}" data-index="{{index}}" data-asc={{asc}}>
        <span class="{{b 'sorter' enabled=(or asc desc)}} {{b 'sorter' 'name'}}">{{t name}}</span>
        <span class="fa-stack {{b 'sorter' 'icon'}}">
            <i class="fa fa-sort-asc fa-stack-1x {{b 'sorter' enabled=asc}}"/>
            <i class="fa fa-sort-desc fa-stack-1x {{b 'sorter' enabled=desc}}"/>
        </span>
    </li>
{{/each}}
</ul>