{{#if time}}
    <h3 class="pane__section-title">Info</h3>
    <div class="testcase-info">Started {{date time.start}} at {{time time.start}}</div>
    <div class="testcase-info">Finished {{date time.stop}} at {{time time.stop}}</div>
    <div class="testcase-info">Duration {{duration time.duration}}</div>
{{/if}}