<div class="attachment-row" data-uid="{{uid}}">
    <span class="{{fileicon type}}" title="{{type}}"></span>
    {{title}}
    <a class="link attachment-row__link" href="data/{{source}}" target="_blank">
        <span class="fa fa-save"></span> {{filesize size}}
    </a>
</div>
