{{#if time}}
    <span data-tooltip="{{date time.start}}: {{time time.start}} - {{time time.stop}}">
    {{t 'testCase.duration.name'}}:
    <span class="fa fa-clock-o"></span>
        {{duration time.duration 2}}
    </span>
{{/if}}