<h2 class="widget__title">
    {{t 'widget.executors.name'}}
</h2>
<div class="table table_hover widget__table">
{{#if items}}
    {{#each items}}
    <span class="table__row">
        <div class="{{b 'table' 'col'}} executor">
            <span class="executor-icon executor-icon__{{type}}">&nbsp;</span>
            {{name}}
        </div>
        {{#if buildName}}
            <div class="{{b 'table' 'col' right=true}} executor">
                {{#if buildUrl}}
                    <a class="link" href="{{buildUrl}}">
                        {{buildName}}
                        <span class="fa fa-external-link"></span>
                    </a>
                {{else}}
                    {{buildName}}
                {{/if}}

            </div>
        {{else}}
            <div class="{{b 'table' 'col' right=true}}">
                {{t 'widget.executors.unknown'}}
            </div>
        {{/if}}
    </span>
    {{/each}}
{{else}}
    <div class="table__row">
        <div class="{{b 'table' 'col' center=true}}">
            {{t 'widget.executors.empty'}}
        </div>
    </div>
{{/if}}
</div>
