<a class="pane__overlay" href="#{{route.baseUrl}}/{{uid}}"></a>
<div class="pane__subtitle long-line line-ellipsis">{{fullName}}</div>
<h2 class="pane__title">
    <span class="label label_status_{{status}}">{{status}}</span>
    <span class="pane__controls">
        <a class="fa fa-expand pane__expand" data-tooltip="Expand" href="#{{route.baseUrl}}/{{uid}}?expanded=true"></a>
        <a class="fa fa-compress pane__collapse" data-tooltip="Collapse" href="#{{route.baseUrl}}/{{uid}}"></a>
        <a class="fa fa-close" data-tooltip="Close" href="#{{route.baseUrl}}"></a>
    </span>
    {{name}}
</h2>

<div class="testcase__failure alert message message_status_{{status}}">
    {{#if failure.message}}
        <pre class="alert__code"><code>{{failure.message}}</code></pre>
    {{else}}
        {{#if (eq status 'passed')}}
            The test has been passed!
        {{else}}
            Empty status details
        {{/if}}
    {{/if}}
    {{#if failure.trace}}
        <div class="testcase__trace-toggle clickable" data-tooltip="Show trace">
            <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
        </div>
        <pre class="alert__code testcase__trace"><code>{{failure.trace}}</code></pre>
    {{/if}}
</div>

<div class="testcase__content_before"></div>
<div class="testcase__execution"></div>
<div class="testcase__content_after"></div>
