<div>
    <div class="attachment-row" data-uid="{{uid}}">
        <span class="attachment-row__arrow block__arrow">{{angle}}</span>
        <div class="attachment-row__icon">
            <span class="{{fileicon type}}" data-tooltip="{{type}}"></span>
        </div>
        <div class="attachment-row__name long-line">
            {{#if name}}
                {{name}}
            {{else}}
                {{source}}
            {{/if}}
        </div>
        <div class="attachment-row__control attachment-row__link">
            <a class="link" href="data/attachments/{{source}}" target="_blank"
               data-tooltip="Open attachment in new tab">
                <span class="fa fa-save"></span> {{filesize size}}
            </a>
        </div>
        <div class="attachment-row__control attachment-row__fullscreen">
            <a class="link">
                <span class="fa fa-arrows-alt"></span>
            </a>
        </div>
    </div>
    <div class="attachment-row__preview">
        <div class="attachment-row__content {{b 'attachment' uid }}"></div>
    </div>
</div>