<a class="node node__leaf" href="#{{baseUrl}}/{{parentUid}}/{{uid}}/{{testResultTab}}">
    <div class="node__title" data-uid="{{uid}}" data-parentUid="{{parentUid}}">
        <div class="node__anchor">
            {{allure-icon status extraClasses='fa-lg'}}
        </div>
        <div class="node__order">#{{order}}</div>
        <div class="node__name">
            {{name}}
        </div>
        {{#if parameters}}
            <div class="node__parameters long-line line-ellipsis">
                <span>&nbsp</span>
                {{#each parameters}}
                    {{#if this}}
                        {{this}}
                    {{~else}}
                        null
                    {{~/if~}}
                    <span class="node__parameters_separator">,</span>
                {{/each}}
            </div>
        {{/if}}
        <div class="tree__strut">&nbsp</div>
        {{#if flaky}}
            <div class="{{b 'node' 'mark' shown=flaky}}">
                {{allure-icon 'flaky'}}
            </div>
        {{/if}}
        {{#if newFailed}}
            <div class="{{b 'node' 'mark' shown=newFailed}}">
                {{allure-icon 'newFailed'}}
            </div>
        {{/if}}
        {{#if newBroken}}
            <div class="{{b 'node' 'mark' shown=newBroken}}">
                {{allure-icon 'newBroken'}}
            </div>
        {{/if}}
        {{#if newPassed}}
            <div class="{{b 'node' 'mark' shown=newPassed}}">
                {{allure-icon 'newPassed'}}
            </div>
        {{/if}}
        {{#if retriesStatusChange}}
            <div class="{{b 'node' 'mark' shown=retriesStatusChange}}">
                {{allure-icon 'retriesStatusChange'}}
            </div>
        {{/if}}
        <div class="node__stats">
            {{~duration time.duration~}}
        </div>
    </div>
</a>
