{{#if children}}
    <div class="node">
        <div class="node__title long-line" data-uid="{{uid}}">
            <span class="node__arrow block__arrow">{{angle}}</span>
            {{#if name}}
                <div class="node__name">
                    {{name}}
                </div>
            {{else}}
                <span class="node__unknown">{{t 'component.tree.unknown'}}</span>
            {{/if}}
            <div class="tree__strut">&nbsp</div>
            <span class="node__stats">
                {{statistic-bar statistic}}
            </span>
        </div>

        <div class="node__children">
            {{#if showGroupInfo}}
                <div class="node">
                    <div class="node__info long-line" data-uid="{{uid}}">
                        <span class="fa fa-clock-o"></span>
                        {{> tree-time value=time.duration name=(t 'component.tree.time.total.name') tooltip=(t 'component.tree.time.total.tooltip')}}
                        {{> tree-time value=time.maxDuration name=(t 'component.tree.time.max.name') tooltip=(t 'component.tree.time.max.tooltip')}}
                        {{> tree-time value=time.sumDuration name=(t 'component.tree.time.sum.name') tooltip=(t 'component.tree.time.sum.tooltip')}}
                    </div>
                </div>
            {{/if}}
            {{#each children}}
                {{~> tree-group baseUrl=../baseUrl showGroupInfo=../showGroupInfo tabName=../tabName testResultTab=../testResultTab}}
            {{/each}}
        </div>
    </div>
{{else}}
    {{~> tree-leaf baseUrl=baseUrl testResultTab=testResultTab}}
{{/if}}
