<a class="{{b 'pane' 'overlay'}}" href="#{{baseUrl}}"></a>
<div class="{{b 'pane' 'title' borderless=true}}">
    {{t tabName}}
    <span class="{{b 'pane' 'subtitle'}}">
        {{t 'component.tree.filtered.total' count=totalCases}},
        {{t 'component.tree.filtered.shown' count=shownCases}}
    </span>
    <span class="pane__controls">
        <a class="fa fa-info-circle {{b 'tree' 'control'}} {{b 'tree' 'info'}}" data-tooltip="{{t 'component.tree.groups'}}"></a>
    </span>
</div>

<div class="tree__ctrl">
    <div class="{{b 'tree' 'sorter'}}"></div>
    <div class="{{b 'tree' 'strut'}}"></div>
    <div class="{{b 'tree' 'filter'}}"></div>
</div>

<div class="tree">
    {{#if items}}
        {{#each items}}
            {{> tree-group baseUrl=../baseUrl showGroupInfo=../showGroupInfo tabName=../tabName}}
        {{/each}}
    {{else}}
           <div class="{{b 'tree' 'empty'}}">{{t 'component.tree.empty'}}</div>
    {{/if}}
</div>
