<div class="{{b cls 'row' selected=selected}} long-line">
    <span class="{{b cls 'arrow'}} {{b 'block' 'arrow' expanded=expanded}}">{{angle}}</span>
    <div class="{{b cls 'name'}}">{{name}}</div>
    <div class="{{b cls 'strut'}}">&nbsp</div>
    <div class="{{b cls 'stats'}}">{{statistic-bar statistic}}</div>
</div>
<div class="{{b cls 'children' expanded=expanded}}"></div>
