<div class="{{b cls 'row' selected=selected leaf=true}}">
    <span class="{{b cls 'status'}}"> {{allure-icon status 'fa-lg'}}</span>
    <div class="{{b cls 'name'}} long-line">
        <a class="link__no-decoration" href="/#suites/{{parentUid}}/{{uid}}" tabindex="-1">{{name}}</a>
    </div>
    <div class="{{b cls 'parameters'}} long-line line-ellipsis">
        <span>&nbsp</span>
        {{#each parameters}}
            {{#if this}}
                {{this}}
            {{~else}}
                null
            {{~/if~}}
            <span class="{{b ../cls 'parameters' separator=true}}">,</span>
        {{/each}}
    </div>
    <div class="{{b cls 'strut'}}"></div>
    <div class="{{b cls 'time'}}">{{duration duration}}</div>
</div>