<a class="{{b 'pane' 'overlay'}}" href="#{{baseUrl}}"></a>
<h2 class="{{b 'pane' 'title'}} {{b "testsuites-list" "title"}}">
    xUnit results
</h2>

<div class="tree">
    {{#each suites}}
        <div class="tree-block">
            <div class="tree-block__anchor">
                  <span class="node-stats">
                    {{statistic.failed}},
                      {{statistic.broken}},
                      {{statistic.canceled}},
                      {{statistic.pending}},
                      {{statistic.passed}}
                </span>
            </div>
            <div class="tree-block__node">
                
                <div class="node-content">
                    <div class="node-content__title">
                        {{name}}
                    </div>
                    <div class="node-content__stats">
                        {{statistic.total}} 
                    </div>
                    <div class="node-content__stats">
                        {{duration time.duration}}
                    </div>
                </div>
                
                <div class="node-inner">
                    <div class="tree">
                        {{#each testCases}}
                            <div class="tree-block">
                                <div class="tree-block__anchor tree-block__anchor_{{status}}">
                                </div>
                                <div class="tree-block__node">
                                    <div class="node-content">
                                        <div class="node-content__title">
                                           <span href="#{{../../baseUrl}}/{{../uid}}/{{uid}}">{{name}}</span>
                                        </div>
                                        <div class="node-content__stats">
                                            {{duration time.duration}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
