<a class="{{b 'pane' 'overlay'}}" href="#{{baseUrl}}"></a>
<h2 class="{{b 'pane' 'title'}} {{b "testsuites-list" "title"}}">
    xUnit results
</h2>

<div class="tree tree_root">
    {{#each suites}}
        <div class="tree-block">
            <div class="tree-block__anchor">
                <span class="node-stats node-anchor">
                    {{statistic.failed}},
                      {{statistic.broken}},
                      {{statistic.canceled}},
                      {{statistic.pending}},
                      {{statistic.passed}}
                </span>
            </div>
            <div class="tree-block__node">
                
                <div class="node-leaf">
                    <div class="node-leaf__title">
                        {{name}}
                    </div>
                    <div class="node-leaf__stats">
                        {{statistic.total}} 
                    </div>
                    <div class="node-leaf__stats">
                        {{duration time.duration}}
                    </div>
                </div>
                
                <div class="node-branch node-branch_collapsed">
                    <div class="tree tree_inner">
                        {{#each testCases}}
                            <a class="tree-block" href="#{{../../baseUrl}}/{{uid}}">
                                <div class="{{b 'tree-block' 'anchor' status=status last=true}}">
                                    <span class="node-anchor">{{status-symbol status}}</span>
                                </div>
                                <div class="tree-block__node">
                                    <div class="node-leaf node-leaf_last" data-uid="{{uid}}">
                                        <div class="node-leaf__title">
                                           {{name}} 
                                        </div>
                                        <div class="node-leaf__stats">
                                            {{duration time.duration}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
