{{#each steps}}
    <div class="step">
        <div class="{{b "step" "title" hasContent=(or steps.length attachments.length)}}">
            {{#if (or steps.length attachments.length)}}
                <span class="step__arrow block__arrow">{{arrow status}}</span>
            {{else}}
                <span class="step__status">{{allure-icon status}}</span>
            {{/if}}
            {{name}}
            {{#if parameters}}
                [
                {{#each parameters}}
                    <span>{{name}}: {{value}}</span>
                {{/each}}
                ]
            {{/if}}
        </div>
        <div class="step__content">
            {{> steps-list steps=steps baseUrl=../baseUrl}}
            {{#each attachments}}
                {{> ../../blocks/attachment-row/attachment-row . baseUrl=../../baseUrl}}
            {{/each}}
        </div>
    </div>
{{/each}}
