<h2 class="widget__title">
    {{t 'widget.environment.name'}}
</h2>
{{#if items}}
    <div class="table  table_hover widget__table">
    {{#each items}}
        <div class="{{b "table" "row"}}" disabled>
            <div class="{{b "table" "col"}} long-line">
                {{name}}
            </div>
            <div class="{{b "table" "col"}} long-line">
                {{#each values}}
                    {{linky this}}{{#unless @last}},<br>{{/unless}}
                {{/each}}
            </div>
        </div>
    {{/each}}
    {{#if overLimit}}
        <a class="{{b "table" "row"}} clickable environment-widget__expand">
            <div class="{{b "table" "col" center=true}}">{{t 'widget.environment.showAll'}}</div>
        </a>
    {{/if}}
    </div>

{{else}}
    <div class="widget__noitems">{{t 'widget.environment.empty'}}</div>
{{/if}}
