<a class="pane__overlay" href="#testcase/{{uid}}"></a>
{{#if (is-def fullName)}}
    <div class="pane__subtitle long-line line-ellipsis">
        <span class="fa fa-files-o fullname__copy" data-tooltip="Copy to clipboard"></span>
        <span class="fullname__body">{{fullName}}</span>
{{/if}}
</div>
<h2 class="pane__title">
    {{#if statusDetails.flaky}}
        {{allure-icon 'flaky'}}
    {{/if}}
    <span class="label label_status_{{status}}">{{status}}</span>
    <span class="pane__controls">
        <a class="fa fa-expand pane__expand" data-tooltip="Expand" href="#testcase/{{uid}}?expanded=true"></a>
    </span>
    {{name}}
</h2>

<div class="testcase__failure alert message message_status_{{status}}">
    {{#if statusDetails.message}}
        <pre class="alert__code"><code>{{statusDetails.message}}</code></pre>
    {{else}}
        {{#if (eq status 'passed')}}
            The test has been passed!
        {{else}}
            Empty status details
        {{/if}}
    {{/if}}
    {{#if statusDetails.trace}}
        <div class="testcase__trace-toggle clickable" data-tooltip="Show trace">
            <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
        </div>
        <pre class="alert__code testcase__trace"><code>{{statusDetails.trace}}</code></pre>
    {{/if}}
</div>

<div class="testcase__content_before"></div>
<div class="testcase__execution"></div>
<div class="testcase__content_after"></div>
