<h2 class="{{b 'widget' 'title'}}">
    Report stats
    <span class="{{b 'widget' 'subtitle'}}">
        {{#if report.url}}
            <a href="{{report.url}}" class="link" target="_blank">{{report.name}}</a>
        {{else}}
            {{report.name}}
        {{/if}}
    </span>
</h2>

<div class="{{b 'widget' 'flex-line'}}">
    <div class="{{b 'widget' 'column'}} splash">
        <div class="{{b 'splash' 'title'}}">{{default report.version 'Latest'}}</div>
        <div class="{{b 'splash' 'subtitle'}}">Allure's version</div>
    </div>

    <div class="{{b 'widget' 'column'}}">
        <div class="{{b 'report-stats-widget'}}">
            <dl class="{{b 'report-stats-widget' 'info'}}">
                {{#if report.size}}
                    <dt>{{t 'index.DATA_SIZE'}}</dt>
                    <dd>{{filesize report.size}}</dd>
                {{/if}}
                {{#if report.time}}
                    <dt>{{t 'index.GENERATED'}}</dt>
                    <dd>{{duration report.time}}</dd>
                {{/if}}
            </dl>
        </div>
    </div>
</div>
