<div class="{{b 'pane' 'title' borderless=true}}">
    <span class="{{b 'pane' 'title-text'}}">{{t tabName}}</span>
    {{#if filtered}}
        <span class="{{b 'pane' 'subtitle'}}">
        {{t 'component.tree.filtered.total' count=totalCases}},
            {{t 'component.tree.filtered.shown' count=shownCases}}
    </span>
    {{/if}}
    <div class="{{b 'pane' 'search'}}"></div>
    <span class="pane__controls">
        <a class="fa fa-info-circle {{b cls 'control'}} {{b cls 'info'}}" data-tooltip="{{t 'component.tree.groups'}}"></a>
        {{#if csvUrl}}
            <a class="fa fa-download {{b cls 'control'}} {{b cls 'download'}}" data-tooltip="{{t 'component.tree.download'}}"
               href="{{csvUrl}}" download></a>
        {{/if}}
    </span>
</div>

<div class="{{b cls 'ctrl'}}">
    <div class="{{b cls 'sorter'}}"></div>
    <div class="{{b cls 'strut'}}"></div>
    <div class="{{b cls 'filter'}}"></div>
    <div class="{{b cls 'filter-marks'}}"></div>
</div>

<div class="{{b cls 'content'}}" ></div>