<div class="{{b 'pane' 'title' borderless=true}}">
    <span class="{{b 'pane' 'title-text'}}">{{t tabName}}</span>
    {{#if filtered}}
        <span class="{{b 'pane' 'subtitle'}}">
        {{t 'component.tree.filtered.total' count=totalCases}},
            {{t 'component.tree.filtered.shown' count=shownCases}}
    </span>
    {{/if}}
    <div class="{{b 'pane' 'search'}}"></div>
    <span class="pane__controls">
        <span class="fa fa-info-circle {{b cls 'control'}} {{b cls 'info'}}"
              data-tooltip="{{t 'component.tree.groups'}}"></span>
        {{#if csvUrl}}
            <span class="fa fa-download {{b cls 'control'}} {{b cls 'download'}}"
               data-tooltip="{{t 'component.tree.download'}}"
               data-ga4-event="csv_download_click"
               data-download="{{csvUrl}}"
               data-download-type="text/csv"></span>
        {{/if}}
    </span>
</div>

<div class="{{b cls 'ctrl'}}">
    <div class="{{b cls 'sorter'}}"></div>
    <div class="{{b cls 'strut'}}"></div>
    <div class="{{b cls 'filter'}}"></div>
    <div class="{{b cls 'filter-marks'}}"></div>
</div>

<div class="{{b cls 'content'}}" ></div>
