<h2 class="widget__title">
    {{t 'widget.launches.name'}}
</h2>
<div class="table table_hover widget__table">
{{#if items}}
    {{#each items}}
    <div class="table__row">
        <div class="{{b 'table' 'col'}}">
            {{name}}
        </div>
        <div class="{{b 'table' 'col'}}">
            {{status-bar statistic}}
        </div>
    </div>
    {{/each}}
{{else}}
    <div class="table__row">
        <div class="{{b 'table' 'col' center=true}}">
            {{t 'widget.launches.empty'}}
        </div>
    </div>
{{/if}}
</div>
