{{#if history}}
    <h3 class="history-title">{{t 'testResult.history.name'}}</h3>
    <div class="history-success-rate">
        {{t 'testResult.history.successRate'}} {{successRate}}
        {{# if history.statistic.total}}
            ({{history.statistic.passed}} of {{history.statistic.total}})
        {{/if}}
    </div>
    {{#each history.items}}
        {{#if reportUrl}}
            <a class="history-row link" href="{{reportUrl}}" target="_blank">
                <span class="label label_status_{{status}}">{{status}}</span>
                {{timeago time.stop}}
            </a>
        {{else}}
            <div class="history-row">
                <span class="label label_status_{{status}}">{{status}}</span>
                {{timeago time.stop}}
            </div>
        {{/if}}
    {{/each}}
{{/if}}