<div class="{{b 'pane' 'section'}}">
    {{#if history}}
        <div class="{{b cls 'success-rate'}}">
            {{t 'testResult.history.successRate'}} {{successRate}}
            {{#if history.statistic.total}}
                ({{t 'testResult.history.statistic' passed=history.statistic.passed total=history.statistic.total}})
            {{/if}}
        </div>
        {{#each history.items}}
            {{#if reportUrl}}
                <div class="{{b ../cls 'row'}}">
                    <a class="link" href="{{reportUrl}}" target="_blank">
                        <span class="label label_status_{{status}}">{{status}}</span>
                        <span>{{t 'testResult.history.time' date=(date time.start) time=(time time.start)}}</span>
                    </a>
                </div>
            {{else}}
                <div>
                    <span class="label label_status_{{status}}">{{status}}</span>
                    <span>{{t 'testResult.history.time' date=(date time.start) time=(time time.start)}}</span>
                </div>
            {{/if}}
        {{/each}}
    {{else}}
        {{t 'testResult.history.empty'}}
    {{/if}}
</div>