<h2 class="widget__title">
    {{t title}}
    <span class="widget__subtitle">{{t 'component.widgetStatus.total' count=total}}</span>
</h2>
<div class="table table_hover widget__table">
    {{#each items}}
        <{{../rowTag}} class="table__row" href="#{{../baseUrl}}/{{uid}}">
            <div class="table__col">{{name}}</div>
            <div class="table__col">
                {{status-bar statistic}}
            </div>
        </{{../rowTag}}>
    {{/each}}
    {{#if showAll}}
        <a class="table__row" href="#{{baseUrl}}">
            <div class="table__col table__col_center">
                {{t 'component.widgetStatus.showAll'}}
            </div>
        </a>
    {{/if}}
</div>
