<a class="pane__overlay" href="#{{baseUrl}}/{{uid}}"></a>
<h2 class="pane__title">
    {{title}}
    <span class="pane__controls">
        <a class="fa fa-expand pane__expand" data-tooltip="Expand" href="#{{baseUrl}}/{{uid}}?expanded=true"></a>
        <a class="fa fa-compress pane__collapse" data-tooltip="Collapse" href="#{{baseUrl}}/{{uid}}"></a>
        <a class="fa fa-close" data-tooltip="Close" href="#{{baseUrl}}"></a>
    </span>
</h2>
