<a class="{{b 'pane' 'overlay'}}" href="#{{baseUrl}}"></a>
<h2 class="{{b 'pane' 'title' borderless=true}}">
    {{tabName}}
    <span class="pane__controls">
        <a class="fa fa-filter {{b 'tree' 'control' statuses=true}}" data-tooltip="Filter test cases by statues"></a>
        <a class="fa fa-info-circle {{b 'tree' 'control' info=true}}" data-tooltip="Toggle groups info"></a>
    </span>
</h2>

<div class="tree">
    {{#if items}}
        {{#each items}}
            {{> tree-group baseUrl=../baseUrl showGroupInfo=../showGroupInfo}}
        {{/each}}
    {{else}}
        There are no items
    {{/if}}
</div>
