<a class="node node__leaf" href="#{{baseUrl}}/{{uid}}">
    <div class="node__title long-line" data-uid="{{uid}}">
        <span class="node__anchor circle circle_status_{{status}}">&nbsp;</span>
        {{#if flaky}}
            {{allure-icon 'flaky'}}
        {{/if}}
        {{name}}
    </div>
</a>