{{#if (eq type 'TestGroupNode')}}
    <div class="node">
        <div class="node__title long-line">
            <span class="node__arrow block__arrow"></span>
            {{#if name}}
                {{name}}
            {{else}}
                Unknown group
            {{/if}}
            <span class="node__stats">
                {{statistic-bar statistic}}
            </span>
        </div>
        <div class="node__children">
            {{#if showGroupInfo}}
                <div class="node">
                    <div class="node__info long-line" data-uid="{{uid}}">
                        <span class="fa fa-clock-o"></span>
                        {{> tree-time value=time.duration name='total' tooltip='Total duration for test group'}}
                        {{> tree-time value=time.maxDuration name='max' tooltip='Longest test case duration'}}
                        {{> tree-time value=time.sumDuration name='sum' tooltip='Summary test case duration'}}
                    </div>
                </div>
            {{/if}}
            {{#each children}}
                {{> tree-group baseUrl=../baseUrl showGroupInfo=../showGroupInfo}}
            {{/each}}
        </div>
    </div>
{{else}}
    {{> tree-leaf baseUrl=baseUrl}}
{{/if}}
