<div class="{{b 'marks-toggle' 'items'}}">
    {{t 'component.tree.filter-marks'}}:
    {{#each marks}}
        <div class="{{b 'marks-toggle' 'item'}}">
        {{#if active}}
            <span class="y-label-mark y-label_mark_{{mark}}" data-mark="{{mark}}"
                    data-tooltip="{{t 'component.markToggle.hideCases' mark=markName}}">{{allure-icon mark noTooltip=true}}</span>
        {{else}}
            <span class="n-label-mark n-label_mark_{{mark}}" data-mark="{{mark}}"
                    data-tooltip="{{t 'component.markToggle.showCases' mark=markName}}">{{allure-icon mark noTooltip=true}}</span>
        {{/if}}
        </div>
    {{/each}}
</div>
