<a class="pane__overlay" href="#{{route.baseUrl}}/{{uid}}"></a>
<h2 class="pane__title">
    <span class="{{b 'testcase' 'severity'}}  {{severityIcon}}" data-tooltip="Severity: {{severity}}"></span>
    {{title}}
    <span class="pane__controls">
        <a class="fa fa-expand pane__expand" data-tooltip="Expand" href="#{{route.baseUrl}}/{{uid}}?expanded=true"></a>
        <a class="fa fa-compress pane__collapse" data-tooltip="Collapse" href="#{{route.baseUrl}}/{{uid}}"></a>
        <a class="fa fa-close" data-tooltip="Close" href="#{{route.baseUrl}}"></a>
    </span>
</h2>

{{#if failure}}
    <div class="testcase__failure alert alert_status_{{status}}">
        <div class="row">
            <div class="col_flex">
                <pre class="alert__code"><code>{{failure.message}}</code></pre>
            </div>
            <div class="col">
                <button class="testcase__trace-toggle button">Show trace</button>
            </div>
        </div>
        <pre class="alert__code testcase__trace"><code>{{failure.stackTrace}}</code></pre>
    </div>
{{else}}
    <div class="alert alert_status_{{status}}">
        The test has been passed!
    </div>
{{/if}}

<div class="testcase__content_before"></div>
<div class="testcase__steps"></div>
<div class="testcase__content_after"></div>
