<span class="step-stats__info">
    <span>
         {{~#if parameters.length ~}}
            {{~t 'testResult.stats.count.parameters' count=parameters.length~}}
             <span class="step-stats__info_separator">,&nbsp;</span>
         {{~/if~}}
         {{~#if stepsCount ~}}
            {{~t 'testResult.stats.count.steps' count=stepsCount~}}
            <span class="step-stats__info_separator">,&nbsp;</span>
        {{~/if~}}
        {{~#if attachmentsCount ~}}
            {{~t 'testResult.stats.count.attachments' count=attachmentsCount~}}
            <span class="step-stats__info_separator">,&nbsp;</span>
        {{~/if~}}
    </span>
    <span class="step-stats__info_time" data-tooltip="{{date time.start}} {{time time.start true}}&nbsp;&ndash;&nbsp;{{time time.stop true}}">{{duration time.duration}}</span>
</span>
