{{#if history}}
    <h3 class="history-title">History</h3>
    {{#each history}}
        <div data-tooltip="{{statusDetails}}" class="history-row"><span class="label label_status_{{status}}">{{status}}</span> {{date timestamp}} at {{time timestamp}}</div>
    {{/each}}
{{/if}}