<div class="{{b 'status-toggle' 'items'}}">
    {{t 'component.tree.filter'}}:
    {{#each statuses}}
        <div class="{{b 'status-toggle' 'item'}}">
        {{#if active}}
            <span class="y-label y-label_status_{{status}}" data-status="{{status}}"
                    data-tooltip="{{t 'component.statusToggle.hideCases' status=statusName}}">{{count}}</span>
        {{else}}
            <span class="n-label n-label_status_{{status}}" data-status="{{status}}"
                    data-tooltip="{{t 'component.statusToggle.showCases' status=statusName}}">{{count}}</span>
        {{/if}}
        </div>
    {{/each}}
</div>