{{#if retries}}
    <h3 class="history-title">{{t 'testResult.retries.name'}}</h3>
    {{#each retries}}
        <div class="retry-row" data-uid="{{uid}}">
            <span class="label label_status_{{status}}">{{status}}</span>
            <span>{{date time.start}} at {{time time.start}}</span>
            <p>{{statusDetails}}</p>
        </div>
    {{/each}}
{{/if}}