<div class="pane">
    {{#if fullName}}
        <div class="{{b 'pane' 'subtitle'}} long-line line-ellipsis">
            {{> ../../elements/clipboard-copy/clipboard-copy value=fullName}}
            {{fullName}}
        </div>
    {{/if}}
    <h2 class="{{b 'pane' 'title' borderless=true}}">
        {{#if flaky}}
            <div class="{{b cls 'flaky-icon'}}">
                {{allure-icon 'flaky'}}
            </div>
        {{/if}}
        <div class="{{b cls 'status'}}">
            <span class="label label_status_{{status}}">{{t statusName}}</span>
        </div>
        <div class="{{b cls 'name'}}">
            <span class="long-line">{{name}}</span>
        </div>
    </h2>

    {{> ../../elements/tabs/tabs}}
    <div class="{{b cls 'content'}}"></div>
</div>