{{#if fullName}}
    <div class="pane__subtitle long-line line-ellipsis">
        {{> ../../blocks/clipboard-copy/clipboard-copy value=fullName}}
        <span class="fullname__body">{{fullName}}</span>
    </div>
{{/if}}
<h2 class="{{b 'pane' 'title' borderless=true}}">
    {{#if flaky}}
        {{allure-icon 'flaky'}}
    {{/if}}
    <span class="label label_status_{{status}}">{{t statusName}}</span>
    <span class="long-line">{{name}}</span>
</h2>

{{> ../../blocks/tabs/tabs}}
<div class="{{b cls 'content'}}"></div>
