{{#if fullName}}
    <div class="pane__subtitle long-line line-ellipsis">
        {{> ../../blocks/clipboard-copy/clipboard-copy value=fullName}}
        <span class="fullname__body">{{fullName}}</span>
    </div>
{{/if}}
<h2 class="{{b 'pane' 'title' borderless=true}}">
    <div class="{{b cls 'status'}}">
        <span class="label label_status_{{status}}">{{t statusName}}</span>
    </div>
    <div class="{{b cls 'name'}}">
        {{#if flaky}}
            {{allure-icon 'flaky'}}
        {{/if}}
        {{#if newFailed}}
            {{allure-icon 'newFailed'}}
        {{/if}}
        {{#if newPassed}}
            {{allure-icon 'newPassed'}}
        {{/if}}
        {{#if newBroken}}
            {{allure-icon 'newBroken'}}
        {{/if}}
        {{#if retriesStatusChange}}
            {{allure-icon 'retriesStatusChange'}}
        {{/if}}
        <span class="long-line">{{name}}</span>
    </div>
</h2>

{{> ../../blocks/tabs/tabs}}
<div class="{{b cls 'content'}}"></div>
