<div class="{{b "alert" "wide" status=status}}">
    {{~> ../../blocks/status-details/status-details .}}
</div>

<div class="{{b cls 'tags'}}"></div>
<div class="{{b cls 'before'}}"></div>
<div class="{{b cls 'execution'}}"></div>
<div class="{{b cls 'after'}}"></div>