{{#if time}}
    <span data-tooltip="{{date time.start}} {{time time.start}}&nbsp;&ndash;&nbsp;{{time time.stop}}">
        {{t 'testResult.duration.name'}}:
        <span class="fa fa-clock-o"></span>
        <span onclick="navigator.clipboard.writeText('{{date time.start}} {{time time.start}}&nbsp;&ndash;&nbsp;{{time time.stop}}');" style="cursor: pointer;"> {{duration time.duration 2}} </span>
    </span>
{{/if}}