{{#if time}}
    <div data-tooltip="{{date time.start}} {{time time.start}}&nbsp;&ndash;&nbsp;{{time time.stop}}">
        <span class="pane__section-title">{{t 'testResult.duration.name'}}</span>
        <span class="pane__section-content">
            <span class="fa fa-clock-o"></span>
            {{duration time.duration 2}}
        </span>
    </div>
{{/if}}
