<div class="attachment-row" data-uid="{{uid}}">
    <span class="attachment-row__icon">
        <span class="{{fileicon type}}" data-tooltip="{{type}}"></span>
    </span>
    {{name}}
    <a class="link attachment-row__link" href="data/attachments/{{source}}" target="_blank" data-tooltip="Open attachment in new tab">
        <span class="fa fa-save"></span> {{filesize size}}
    </a>
</div>
