<div>
    <div class="{{b "status-details" status=status}}">
        <div class="status-details__content">
            {{#if trace}}
                <div class="{{b 'status-details' 'trace-toggle' status=status}} clickable" data-tooltip="Display trace">
                    <div class="status-details__message alert__code"><code>{{message}}</code></div>
                </div>
            {{else}}
                <pre class="status-details__message"><code>{{message}}</code></pre>
            {{/if}}

            <div class="{{b 'status-details' 'trace'}} alert__code"><code>{{trace}}</code>
            </div>
        </div>
    </div>
</div>