<div class="{{b "status-details" status=status}}">
    {{#if message}}
        <pre class="status-details__message"><code>{{message}}</code></pre>
    {{else}}
        <pre class="status-details__message">Empty status details</pre>
    {{/if}}
    {{#if trace}}
        <div class="{{b 'status-details' 'trace-toggle' status=status}} clickable" data-tooltip="Display trace">
            <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
        </div>
        <pre class="{{b 'status-details' 'trace'}} alert__code"><code>{{trace}}</code></pre>
    {{/if}}
</div>