<div class="{{b "status-details" status=status}}">
    <div class="status-details__content">
        {{#if message}}
            <div class="{{b 'status-details' 'trace-toggle' status=status}} clickable" data-tooltip="{{t 'testResult.status.trace'}}">
                <pre class="status-details__message"><code>{{message}}</code></pre>
            </div>

            <pre class="{{b 'status-details' 'trace'}}"><code>{{#if trace}}{{trace}}{{else}}{{t 'testResult.status.empty'}}{{/if}}</code></pre>
        {{/if}}
    </div>
</div>
