<h2 class="{{b 'widget' 'title'}}">{{t "TEST_RUN"}}
    <span class="{{b 'widget' 'subtitle'}}">
        {{t "STARTED_AT" date=(date time.start) time=(time time.start)}}
    </span>
</h2>

<div class="{{b 'widget' 'flex-line'}}">
    <div class="{{b 'widget-content'}}">
        <div class="{{b 'widget-content' 'title'}}">{{ statistic.total }}</div>
        <div class="{{b 'widget-content' 'subtitle'}}">Cases in {{duration time.duration}}</div>
    </div>

    <div class="{{b 'overview-widget-graph'}}"></div>
</div>